Demographics.xsd

<xs:schema attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="https://developer.pitneybowes.com/schema/location-intelligence/v1"
xmlns:tns="https://developer.pitneybowes.com/schema/location-intelligence/v1">
	<xs:element name="demographics">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="themes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="age" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:float">
																	<xs:attribute type="xs:string" name="description" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="count" use="optional"/>
												<xs:attribute type="xs:string" name="order" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:long" name="boundaryId"/>
									<xs:attribute type="xs:byte" name="boundaryLevel"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="race" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:float">
																	<xs:attribute type="xs:string" name="description" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="count" use="optional"/>
												<xs:attribute type="xs:string" name="order" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:long" name="boundaryId"/>
									<xs:attribute type="xs:byte" name="boundaryLevel"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ethnicity" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:float">
																	<xs:attribute type="xs:string" name="description" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="count" use="optional"/>
												<xs:attribute type="xs:string" name="order" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:long" name="boundaryId"/>
									<xs:attribute type="xs:byte" name="boundaryLevel"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="income" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:float">
																	<xs:attribute type="xs:string" name="description" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="count" use="optional"/>
												<xs:attribute type="xs:string" name="order" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:long" name="boundaryId"/>
									<xs:attribute type="xs:byte" name="boundaryLevel"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="gender" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:float">
																	<xs:attribute type="xs:string" name="description" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="count" use="optional"/>
												<xs:attribute type="xs:string" name="order" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:long" name="boundaryId"/>
									<xs:attribute type="xs:byte" name="boundaryLevel"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="maritalstatus" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:float">
																	<xs:attribute type="xs:string" name="description" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="count" use="optional"/>
												<xs:attribute type="xs:string" name="order" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:long" name="boundaryId"/>
									<xs:attribute type="xs:byte" name="boundaryLevel"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="auto" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:float">
																	<xs:attribute type="xs:string" name="description" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="count" use="optional"/>
												<xs:attribute type="xs:string" name="order" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:long" name="boundaryId"/>
									<xs:attribute type="xs:byte" name="boundaryLevel"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="purchasingbehavior" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:float">
																	<xs:attribute type="xs:string" name="description" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="count" use="optional"/>
												<xs:attribute type="xs:string" name="order" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:long" name="boundaryId"/>
									<xs:attribute type="xs:byte" name="boundaryLevel"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="educationalattainment" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:float">
																	<xs:attribute type="xs:string" name="description" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="count" use="optional"/>
												<xs:attribute type="xs:string" name="order" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:long" name="boundaryId"/>
									<xs:attribute type="xs:byte" name="boundaryLevel"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="financialproducts" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:float">
																	<xs:attribute type="xs:string" name="description" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="count" use="optional"/>
												<xs:attribute type="xs:string" name="order" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:long" name="boundaryId"/>
									<xs:attribute type="xs:byte" name="boundaryLevel"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="commuterpatterns" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:float">
																	<xs:attribute type="xs:string" name="description" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="count" use="optional"/>
												<xs:attribute type="xs:string" name="order" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:long" name="boundaryId"/>
									<xs:attribute type="xs:byte" name="boundaryLevel"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="householdsize" maxOccurs="unbounded" minOccurs="0">
							
								<xs:complexType>
									<xs:sequence>
										<xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:float">
																	<xs:attribute type="xs:string" name="description" use="optional"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="type" use="optional"/>
												<xs:attribute type="xs:string" name="name" use="optional"/>
												<xs:attribute type="xs:string" name="count" use="optional"/>
												<xs:attribute type="xs:string" name="order" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute type="xs:long" name="boundaryId"/>
									<xs:attribute type="xs:byte" name="boundaryLevel"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>